.div-noticia{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 480px;
    height: 120px;
    padding: 10px;
    border: 2px solid;
    border-color: dodgerblue;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 20px
}

.div-noticia h4{
    color: dodgerblue;
    font-size: 20px;
}

